---
import config from "virtual:starlight/user-config";
import Search from "virtual:starlight/components/Search";
import SiteTitle from "virtual:starlight/components/SiteTitle";

const shouldRenderSearch =
  config.pagefind ||
  config.components.Search !== "@astrojs/starlight/components/Search.astro";
---

<div class="header">
  <div class="title-wrapper sl-flex">
    <SiteTitle />
  </div>
  <div class="sl-flex print:hidden">
    {shouldRenderSearch && <Search />}
  </div>
</div>

<style>
  @layer starlight.core {
    .header {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      gap: var(--sl-nav-gap);
    }

    .title-wrapper {
      min-width: 0;
      margin: -0.25rem;
      padding: 0.25rem;
      overflow: clip;
    }
  }
</style>
